{% extends 'common/admin/common.html' %}
{% block content %}
  <div class="card" style="margin: 3rem 2rem;">
    <div class="d-flex justify-content-between px-3 align-items-center" style="height: 7em;">
      <div>
        <h3 class="card-title fw-bold text-black mb-0">Assign</h3>
        <p class="text-muted mb-0">
          Count : <span class="fw-bold">{{ count }}</span>
        </p>
      </div>
      <a href="{% url "assign_all" %}" class="btn btn-primary bd-flex align-items-center">Assign All</a>
    </div>
    {% if assign %}
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead class="text-center">
            <tr>
              <th>Lead</th>
              <th>Number</th>
              <th>Assign</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0 text-center leads-list">
            {% for i in assign %}
              <tr class="lead">
                <td>
                  <h5 style="font-size:12pt;margin-top:0.6em">{{ i.name }}</h5>
                </td>
                <td>
                  <h6>{{ i.phone }}</h6>
                </td>
                <td>
                  <a href="{% url 'assign_lead' i.id %}" class="btn btn-primary">Assign</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
        <h4>No leads to assign</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}
