{% extends 'admin/common.html' %}
 {% block content %}
{% if messages %}
<div class="container-lg "
     style="background-color:#277da1 ; margin-top: 3em;border-radius: 6px;padding:1em;width:95%">

    <div class="messages">
        {% for message in messages %}

        <h5 class="text-white pt-3"
                {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong>
        </h5>
        {% endfor %}
    </div>


</div>
  {% else %}
<div class="card" style="margin: 3rem 2rem;">
    <div class="d-flex justify-content-between">
                <h4 class="card-header">Lead Status of {{lead.name}}</h4>
                <h4 class="card-header">Assigned To {{sale}}</h4>
        {% if calls %}
                <h4 class="card-header">Call-Back : {{calls.date}}</h4>
        {% endif %}

    </div>
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Contacted On</th>
                          <th>Whatsapp</th>
                        <th>Progress</th>
                          <th>Status</th>
                          <th>Notes</th>
                         <th>Probability</th>
                      </tr>
                    </thead>
                        <tbody class="table-border-bottom-0">
                    {% if lead_status %}
                        {% for i in lead_status %}
                        <tr>
                            <td>{{i.last_contacted}}</td>
                            <td>{{i.watsapp}}</td>
                        <td>{{i.progress}}</td>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{i.status}}</strong></td>
                          <td>{{i.notes}}</td>

                          <td>{{i.probability}}</td>
                        </tr>
                    </tbody>
                        {% endfor %}{% else %}
                        <tr>
                        <td></td>
                        <td></td>
                          <td>No Status Available ...</td>
                            <td></td>
                        <td></td>
                        <td></td>
                    </tr>{% endif %}
                    </table>




              </div>
</div>
{% endif %}
{% endblock %}
