{% extends 'common/admin/common.html' %}
{% block content %}
<div class="d-flex w-100 justify-content-between">
    <div class="card" style="margin: 3rem;width: 100%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Daily Reports</h4>
        </div>
        {% if report %}
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% for i in report %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
          <h4>No Daily reports</h4>
        </div>
        {% endif %}
    </div>
    <div class="card" style="margin: 3rem;width: 100%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Monthly Won</h4>
        </div>
        {% if won %}
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% for i in won %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
          <h4>No Monthly Wons</h4>
        </div>
        {% endif %}
    </div>
    <div class="card" style="margin: 3rem;width: 100%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Monthly Followup</h4>
        </div>
        {% if followup %}
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% for i in followup %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div style="height: 10em;width: 100%;display: flex;" class="justify-content-center align-items-center">
          <h4>No Monthly Followup</h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}