{% extends 'admin/common.html' %}
{% block content %}
<div class="d-flex">
    <div class="card" style="margin: 3rem;width: 50%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Daily Reports</h4>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% if report %}
                    {% for i in report %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>No Reports yet ...</td>
                        <td></td>
                    </tr>{% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" style="margin: 3rem;width: 25%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Monthly Won</h4>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% if won %}
                    {% for i in won %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>No Reports yet ...</td>
                        <td></td>
                    </tr>{% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" style="margin: 3rem;width: 25%;">
        <div class="d-flex justify-content-between">
            <h4 class="card-header">Monthly Followup</h4>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 leads-list">
                    {% if followup %}
                    {% for i in followup %}
                    <tr class="lead">
                        <td>
                            <h6 style="margin-top:0.6em">{{i.created_on}}</h6>
                        </td>
                        <td>
                            <a href="{{ i.csv.url }}" target="_blank" download><button
                                    class="btn btn-primary">Download</button></a>
                        </td>
                    </tr>{% endfor %}
                    {% else %}
                    <tr>
                        <td>No Reports yet ...</td>
                        <td></td>
                    </tr>{% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}