
{% extends 'admin/common.html' %}
 {% block content %}
<div class="card" style="margin: 3rem 2rem;">
    <div class="d-flex justify-content-between">
                <h4 class="card-header">Sale Persons</h4>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mt-3" style="height:3rem;margin-right:1em;margin-left:0.3em;"><svg style="margin-top:-0.2em" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg> Add Sale Persons</button>
    </div>
                <div class="table-responsive text-nowrap">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Password</th>
                           <th>strength</th>
                          <th>Todays Lead</th>

                         <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0 leads-list">
                    {% if person %}
                    {% for i in person %}
                      <tr class="lead">
                          <td><h5 style="font-size:12pt;margin-top:0.6em"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{i.user.first_name}}</strong></h5></td>

                          <td><h6>{{i.user.username}}</h6></td>
                          <td>{{i.password}}</td>
                          <td>{{i.strength}}</td>
                          <td>{{i.todays_lead}}</td>
                        <td>
                             <a href="{% url 'duty' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#073b4c" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
</svg>
</svg></a>
                          <a href="{% url 'edit_sales' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
</svg></a>
                          <a href="{% url 'del_sales' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a>
                        </td>
                      </tr>{% endfor %}
                    {% else %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>No salepersons</td>
                    </tr>
                    {% endif %}

                    </tbody>
                  </table>
                </div>
              </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Sale Persons</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="post">
        {% csrf_token %}
              <div class="form-floating">
                        <input
                          type="tel"
                          pattern="[0-9]{10}"
                          class="form-control"
                          id="floatingInput"
                          placeholder=""
                          name="number"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Mobile Number</label>
              </div>
              <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="number"
                          placeholder=""
                          name="name"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Name</label>
              </div>
              <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder=""
                          name="password"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Password</label>
              </div>
              <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder=""
                          name="strength"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Strength</label>
              </div>
              <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder=""
                          name="mon_tar"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Monthly Target</label>
              </div>
              <div class="form-floating mt-2">
                        <input
                          type="text"
                          class="form-control"
                          id="floatingInput"
                          placeholder=""
                          name="daily_tar"
                          aria-describedby="floatingInputHelp"
                          required
                        />
                        <label for="floatingInput">Daily Target</label>
              </div>


              <button type="submit" class="btn btn-primary mt-4">Add</button>
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}